<div *ngIf="type==='alert'">
  <h1 mat-dialog-title>Cerrar sesión</h1>
  <div mat-dialog-content>Esta seguro que quiere cerrar sesión?</div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close cdkFocusInitial>No</button>
    <button
      mat-raised-button
      color="primary"
      mat-dialog-close
      (click)="onLogout()"
    >
      Salir
    </button>
  </div>
</div>

<div *ngIf="type==='error'">
  <h1 mat-dialog-title>Archivo incorrecto elegido</h1>
  <div mat-dialog-content>Utilice el navegador Chrome o elija solo archivos CSV (.csv).</div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>OK</button>
  </div>
</div>