<div *ngIf="chartType === 'pie'">
  <div><p class="categorypara">Haga clic en Categoría para más detalles</p></div>
  <div *ngIf="pieChartLabels.length===0 && chartType==='pie'">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <p>Nada que mostrar </p>
      <button mat-raised-button (click)="onHome()" style="margin-bottom:10px">Agregar gastos</button>
      <img src="../../../assets/image/pie22.gif" height="200px" width="200px">
    </div>
  </div>
  <div class="pieChart" *ngIf="pieChartLabels.length>0">
    <canvas
      baseChart
      id="myCanvas"
      [type]="'pie'"
      [datasets]="pieChartDatasets"
      [labels]="pieChartLabels"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
    >
    </canvas>
  </div>
</div>

<div *ngIf="chartType === 'bar'">
  <div><p class="categorypara">Haga clic en <b>Barras</b> para más detalles</p></div>
  <div style="display: flex; justify-content: center;">
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar año</mat-label>
      <mat-select [(value)]="selectedYear" (selectionChange)="onSelectionChange($event)">
        <mat-option [value]="year" *ngFor="let year of years">{{year}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="selectedYear==='' && chartType==='bar'">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <p>Seleccione Año para <b>Mensual</b> detalles. </p>
      <img src="../../../assets/image/nobar.gif" height="220px" width="300px">
    </div>
  </div>
  <div class="barChart" *ngIf="selectedYear!==''">
    <canvas
      id="myBarCanvas"
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [type]="'bar'"
    >
    </canvas>
  </div>
</div>
