<div style="margin-top: 30px;">
    <div class="viewExpense"><p>Detalles de gastos</p></div>
    <table align="center">
        <tr>
            <td><b>Nombre : </b></td>
            <td>{{tableData.name}}</td>
        </tr>
        <tr>
            <td><b>Monto : </b></td>
            <td>{{tableData.amount}}</td>
        </tr>
        <tr>
            <td><b>Fecha de gasto:</b> </td>
            <td>{{tableData.expense_date}}</td>
        </tr>
        <tr>
            <td><b>Categoria de gasto : </b></td>
            <td>{{tableData.expense_category}}</td>
        </tr>
        <tr>
            <td><b>Tipo de gasto : </b></td>
            <td>{{tableData.payment}}</td>
        </tr>
        <tr *ngIf="tableData.comment!=null">
            <td><b>Comentarios :</b> </td>
            <td>{{tableData.comment}}</td>
        </tr>
    </table>
</div>
<div mat-dialog-actions align="end">
    <button mat-flat-button  mat-dialog-close color="primary">Ok</button>
</div>