<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-xs-12 col-md-6 myimage">
      <img src="../../../assets/image/save.svg" alt="image" />
    </div>
    <div class="col-sm-6 col-xs-12 col-md-6" style="padding: 20px">
      <p class="paragraph">Crear una cuenta de seguimiento de gastos</p>
      <div class="line"></div>
      <form [formGroup]="signUpForm">
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Ingrese el nombre completo</mat-label>
            <input matInput placeholder="Full Name" formControlName="name" />
            <mat-error *ngIf="signUpForm.get('name')?.errors &&
            signUpForm.get('name')?.hasError('required') && signUpForm.get('name')?.touched"  >Se requiere el nombre</mat-error>
            <mat-error *ngIf="signUpForm.get('name')?.errors &&
            signUpForm.get('name')?.hasError('pattern') && signUpForm.get('name')?.touched"  >Por favor ingrese un nombre valido</mat-error>
          </mat-form-field>
        </div>
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Introduzca su nombre de usuario</mat-label>
            <input matInput placeholder="Username" formControlName="username" />
            <mat-error *ngIf="signUpForm.get('username')?.errors &&
            signUpForm.get('username')?.hasError('required') && signUpForm.get('username')?.touched ">Se requiere nombre de usuario</mat-error>
          </mat-form-field>
        </div>
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Ingrese a su Gmail</mat-label>
            <input
              matInput
              type="email"
              placeholder="abc@gmail.com"
              formControlName="gmail"
            />
            <mat-error *ngIf="signUpForm.get('gmail')?.errors &&
            signUpForm.get('gmail')?.hasError('required') && signUpForm.get('gmail')?.touched">
            Se requiere Dirección de correo electrónico
            </mat-error>
            <mat-error *ngIf="signUpForm.get('gmail')?.errors &&
            signUpForm.get('gmail')?.hasError('email') && signUpForm.get('gmail')?.touched" >
            Dirección de correo electrónico es inválida
            </mat-error>
          </mat-form-field>
        </div>
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Introducir la contraseña</mat-label>
            <input
              matInput
              
              formControlName="password"
              type="password"
            />
            <mat-error *ngIf="signUpForm.get('password')?.errors &&
            signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched">se requiere contraseña</mat-error>
            <mat-error *ngIf="signUpForm.get('password')?.errors &&
            signUpForm.get('password')?.hasError('minlength') && signUpForm.get('password')?.touched">La contraseña debe tener al menos 8 caracteres.</mat-error>
          </mat-form-field>
        </div>
        <div class="singUpBtn">
          <button
            style="margin: 10px 20px 10px 20px"
            type="submit"
            *ngIf="!SignUpContinue"
            mat-raised-button
            color="primary"
            [disabled]="signUpForm.invalid"
            (click)="onProceed()"
          ><mat-icon>done</mat-icon>
            Crear
          </button>
          <button *ngIf="SignUpContinue" class="btn btn-success" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Creando...
          </button>
        </div>
      </form>
      <div *ngIf="SignUpContinue" style="margin-top: 10px; display:flex; justify-content: center;">
        <p class="wait">Espere por favor.....</p>
      </div>
    </div>
  </div>
</div>
