<div>
  <div class="content">
    El rastreador de gastos es una aplicación web que le ayudará a realizar un seguimiento de sus gastos diarios. 
    <div style="padding:15px 0px">Los gráficos y tablas le ayudan a realizar un mejor seguimiento de los comportamientos de gasto.</div>
  </div>
  <div class="line"></div>
  <div class="container">
    <div style="margin-top: 30px;">
      <p class="loginp">Inicie sesión en la cuenta Expense Tracker</p>
    </div>
    <div class="forms">
    <form [formGroup]="loginForm">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Ingrese el correo electrónico: </mat-label>
          <input matInput placeholder="abc@gmail.com" type="email" formControlName="gmail">
          <mat-error *ngIf="loginForm.get('gmail')?.errors &&
            loginForm.get('gmail')?.hasError('required') && loginForm.get('gmail')?.touched" style="color: red;">
              Se requiere Dirección de correo electrónico
            </mat-error>
            <mat-error *ngIf="loginForm.get('gmail')?.errors &&
            loginForm.get('gmail')?.hasError('email') && loginForm.get('gmail')?.touched" style="color: red;">
            Dirección de correo electrónico es inválida
            </mat-error>
        </mat-form-field>
      </div>
      <div style="padding-top: 5px;">
        <mat-form-field appearance="outline">
          <mat-label>Introducir la contraseña: </mat-label>
          <input matInput placeholder="" type="password" formControlName="password">
          <mat-error *ngIf="loginForm.get('password')?.errors &&
            loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
            se requiere contraseña
            </mat-error>
        </mat-form-field>
      </div>
      <div style="text-align: center;" class="btns">
        <button *ngIf="!LoginContinue" mat-raised-button type="submit" color="accent" (click)="onLogin()"><mat-icon>login</mat-icon>Iniciar sesión</button>
        <button *ngIf="LoginContinue" class="btn btn-success" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Cargando...
        </button>
      </div>
    </form>
    </div>
    <div *ngIf="LoginContinue" style="margin-top: 10px;">
      <p class="wait">¡¡Espere por favor!! Obteniendo los detalles de su cuenta</p>
    </div>
  </div>
</div>
